---
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: targeting-service-route
  namespace: targeting-ns
spec:
  parentRefs:
  - name: gateway-applications
    namespace: gateway-api-ns
  hostnames:
  - "rhuan-fiap.${GATEWAY_IP}.nip.io"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /targeting-service
    backendRefs:
    - name: targeting-service
      port: 80
